.flexbox-container{
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
}
.flexbox-item{
    width:200px;
    margin:10px;
    border:4px soild #c72121;
    background-color:rgb(21, 21, 24);
}
.flexbox-item-1{
    min-height: 100px;
}
.flexbox-item-2{
    min-height: 200px;
}
.flexbox-item-3{
min-height: 300px;
}